*{
    padding: 0;
    margin: 0 auto;
    
    color: white;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: x-large;
    font-weight: 600;
    padding: 20px;
    
}
.clear{
    clear:both
}
header{
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid white;
}   
header img{
    height: 99px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.menu{
    position: absolute;
    width: 45%;
    right: 0%;
}
header .menu li{
    height: px;
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    font-weight: bold;
}
header .menu li>a{
    text-decoration: none;
    transition: color 0.3s;
    color: white;
}
header .menu li>a:hover{
    color: greenyellow;
}
header select{
    background-color: rgb(51, 50, 50);
    padding: 15px;
    border-radius: 2px 2px 2px 2px;
}
header select:hover{
    display: block;
}
input{
    background-color: rgb(51, 50, 50);
}   

header .menu li>input[type=submit]{
    
    padding: 15px;
    border: 2px solid green;
    border-radius: 2px 2px 2px 2px;
    transition: background-color 0.3s ease;
}
header .menu li>input[type=submit]:hover{
    background-color: green;
}
main{
    height: 1000px;
    background: rgb(41, 40, 40);
    display: flex;
    padding: 20px;
}
.login{
    position: absolute;
    left: 100px;
    height: 500px;
    width: 55%;
    padding: 20px;
}
.login form{
    padding: 20px;
    
    font-size: large;
    font-weight: 600;
}
.login input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #bebbbb;
    border-radius: 4px;
    box-sizing: border-box;
}
.login a{
    color: greenyellow;
}
input[type=submit]{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: yellowgreen;
    padding: 20px;
    transition: background-color 0.3s ease;
    width: 100%;
    border: 1px solid greenyellow;
}
input[type=submit]:hover{
    background-color: rgb(2, 100, 2);
}
.signin input[type=submit]{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: yellowgreen;
    padding: 20px;
    transition: background-color 0.3s ease;
    width: 100%;
    border: 1px solid greenyellow;
}
.signin input[type=submit]:hover{
    background-color: rgb(2, 100, 2);
}
.signin{
    position: absolute;
    left: 100px;
    height: 700px;
    width: 93%;
    padding: 20px;
}
.signin .o{
    width: 33%;
    float: left;
    box-sizing: border-box;
    margin: 20px;
}
.signin input{
    background: rgb(41, 40, 40);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #bebbbb;
    border-radius: 4px;
    box-sizing: border-box;
}
.signin input[type=radio]{
    width: 10%;
    margin: 10px;
}

.signin .i{
    width: 68.5%;
    float: left;
    box-sizing: border-box;
    margin: 20px;
}
.signin select{
    background-color: rgb(51, 50, 50);
    padding: 15px;
    border-radius: 2px 2px 2px 2px;
    width: 30%;
    margin-right: 1%;
}
.container{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.container label{
    margin-left: 25px;
}
.container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

  
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid white;
    background-color: rgb(51, 50, 50);
    
}
.container:hover input ~ .checkmark {
    background-color: rgb(32, 32, 32);
}
.container input:checked ~ .checkmark {
    background-color: yellowgreen;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.ad{
    position: absolute;
    right:100px;
    height: 500px;
    width: 25%;
    padding: 20px;
    overflow: hidden;
}
.ad img{
    height: 100%;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: imageChange 12s infinite;
    animation-fill-mode: forwards;
}
.ad img:nth-child(1) {
    animation-delay: 0s;
}

.ad img:nth-child(2) {
    animation-delay: 4s;
}

.ad img:nth-child(3) {
    animation-delay: 8s;
}

@keyframes imageChange {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.info{
    color: #fff;
    background-color: #090b13;
    display:flex;
    justify-content: space-between;
    padding: 60px 28px;
}
.system{

}
.info-title h2{
    font-size: 20px;
    font-weight: 700;
}
.list-info-item:hover{
    color: #72BE43;
    cursor: pointer;
}
.list-info{
    padding-left: 0px;
}
.list-info-item{
    list-style: none;
    font-size: 16px;
    padding: 6px 0px;
    font-weight: 500;
}
.logo-system{
    width: 198px;
    height: 74px;
}
.logo-mxh{
    gap: 6px;
}
.logo-mxh i{
   padding: 10px;
    font-size: 38px;
}
.contact{
    display: flex;
}
.contact i{
    color: #fff;
}
.footer{
    background-color: #151720;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 30px 4px;
}
.footer-logo {
    padding: 40px;
}
.footer-logo-img{
    width: 74px;
    height: 74px;
}
.footer-text{
    font-size: 14px;
    font-weight: 500;
}