
input[type=submit]{
    margin: auto;
    background-color: yellowgreen;
    padding: 20px;
    transition: background-color 0.3s ease;
    width: 98%;
    border: 1px solid greenyellow;
}
input[type=submit]:hover{
    background-color: rgb(2, 100, 2);
}
#f a{
    color: white;
    text-decoration: none;
}
#f a:hover{
    color: yellowgreen;
    transition: color 0.3s ease;
}